<!DOCTYPE html>
<html>
<head>
  <title>Screen Share</title>

  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="/css/main.css" />

</head>
<body>
<div>
<h4>Download the extension</h4>
</div>
<div>
  <form action="/" method="post">
    <label for="name">Name for your screen share session</label>
    <input
      id="name"
      name="name"
      type="text"
      placeholder="Random Name"
      required
      >
    </input>
    <button type="submit">Submit</button>
  </form>
</div>
</body>
</html>